/* common style */
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 100%;
margin: 20px 100px 0px 100px;
padding:0px;
}
/* banner related styles */
.banner{
    width: 1320px; height: 600px;
    background-image: url(/imgs/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 16px;
}
.first{
    color: white;
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 400;
    padding: 50px;
    text-align: center;
}
.second{
    color: white;
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 95px;
    word-wrap: break-word; 
    text-align: center;
}   
/* Section-one related styles */
.section-one{
   width: 1320px; height: 900px;
   background-color: beige;
   border-radius: 16px;
}
.discount{
    color: red;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}
.tag-line{
    color: tomato;
    text-align: center;
    font-size: 44px;
    margin-top: 0px;
}
.categories{
    color: black;
    text-align: center;
    font-size: 70px;
    margin-top: -100px;
}
.photo{
    padding-left: 300px;
}